@model IEnumerable<FootballLeague.Models.ClubModel>
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div>
    @foreach (var club in Model)
    {
        @club.Name
        <br />
    }
</div>
